<div id="home-page">
    <div id="home-page-landing">
        <div id="landing-left">
            <div id="landing-left-content">
                <h1>¡Bienvenido a Book swap!</h1>
                <p>Somos tu destino ideal para compartir y descubrir historias a través de libros que ya han tenido una vida en manos de otros lectores. Nuestra comunidad está diseñada para amantes de la lectura que desean dar una segunda oportunidad a esos libros que han marcado sus vidas y compartir esa experiencia con otros apasionados de la literatura.</p>
                <div id="imagenhome"><img src="/assets/adopta-un-libro-.jpg" alt="adopta-un-libro-"></div>
                <p>BookSwap tiene como objetivo crear una comunidad en línea donde los amantes de la lectura puedan compartir, intercambiar y disfrutar de libros de manera sostenible, promoviendo así la lectura y la reutilización de libros en beneficio de sus usuarios.</p>
                <div id="buttonIngresar">
                <button (click)="onGetStartedClick()" mat-flat-button color="warn"> Ingresa aquí</button>
                </div>
            </div>
        </div>
    </div>    
</div>