<mat-card class="card">
    <mat-card-header class="header-card">
        <mat-card-title class="title-card">  <a [routerLink]="['/userprofile/', postData?.creatorId]" class="titulo-card">{{ creatorName }}</a> </mat-card-title>
        <mat-card-subtitle>{{ postData?.comment }} </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{ postData?.imageUrl }}">
   
    <mat-card-actions>
        <mat-icon (click)="onReplyClick()" class="action-item" color="primary">chat_bubble_outline</mat-icon>
        <mat-icon class="action-item" color="primary">favorite_border</mat-icon>
    </mat-card-actions>
</mat-card>