<div class="container">
 
  <div *ngIf="userData" class="description">
    <button mat-button onclick="window.history.back()" class="back-button">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <h2 class="color"> Perfíl de {{ userData.publicName }}</h2>
    <p class="color"><span class="selector">Email:</span> {{ userData.publicemail }}</p>
    <p class="color"><span class="selector">Sobre mí: </span>  {{ userData.description}} </p>
  </div>
  
  <div *ngIf="userPosts.length > 0">
    <h3 class="center-title color">Libros publicados por {{userData.publicName }}</h3>
    <div class="post-feed">
      <mat-card *ngFor="let post of userPosts" class="card">
        <mat-card-header class="header-card">
          <mat-card-title class="subtitle"> Fecha de publicación:</mat-card-title>
          <mat-card-subtitle class="subtitle">{{ formatTimestamp(post.timestamp) }}</mat-card-subtitle>
        </mat-card-header>
        <img class="img-card" mat-card-image src="{{ post.imageUrl }}">
        <mat-card-content class="comment">
          {{ post.comment }}
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>