.description{
    margin-top: 100px;
    width: 55%;
}

.container{
    padding: 15px;
    background-image: url(/assets/fondo17.png);
    background-size: cover; /* Ajusta el tamaño para cubrir toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; 
    
}


.post-feed {
    max-width: 100%;
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    justify-content: flex-start; /* Cambiado de space-around a flex-start */
  }
  .card {
    width: calc(23% - 10px); /* Ajusta según sea necesario, considerando márgenes, bordes u otros estilos */
    margin-bottom: 10px; /* Espacio entre las filas de tarjetas */
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    background-color:rgba(255, 255, 255, 0.493);


    border: 1px solid rgb(202, 202, 202);
   
    
    
   
   border-radius: 2px;
  

   transition:all 0.10s;
   
}

.card:hover{
  transform: translateY(-15px);
  box-shadow: 0 17px 22px rgba(0,0,0,0.2);
}
  .subtitle{
    margin-bottom: 10px;
  }
  .comment {
    margin-top: 10px;
    text-align: justify;
  }

  .center-title{

    text-align: center;
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 60px;
  }

  .color{
    color:white;
    text-shadow: 2px 2px 4px #333; 
  }

  .selector {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .back-button {
    
    left: 10px;
    font-size: 20px; /* Puedes ajustar el tamaño del icono según tus preferencias */
    cursor: pointer;
    background-color: rgb(39, 70, 104); /* Puedes ajustar el color de fondo según tus preferencias */
    color: #fff; /* Puedes ajustar el color del texto (en este caso, del icono) según tus preferencias */
    border: none;
    border-radius: 5px;
    padding: 5px 10px; /* Puedes ajustar el espacio interno según tus preferencias */
  }
  .back-button:hover {
    background-color: rgb(79, 111, 145);
    transform: translateX(-5px); 
  }